<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hackharvard.desudoers.kinderly">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackharvard.desudoers.kinderly.LoginActivity" />
        </activity>
        <activity
            android:name=".RentActivity"
            android:label="@string/title_activity_rent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LetActivity"
            android:label="@string/title_activity_let" />
        <activity
            android:name=".CardActivity"
            android:label="@string/title_activity_card"
            android:parentActivityName=".RentActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hackharvard.desudoers.kinderly.RentActivity" />
        </activity>
        <activity
            android:name=".FilterActivity"
            android:label="@string/title_activity_filter">
        </activity>
        <activity
            android:name=".LetWizard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>